
<% if ( user.escape("id") == window.currentUser.id ) {   %>

<b><font size="6">My Portfolio</font></b>

<% } else { %>

<b><font size="6"><%= user.escape("name") %>'s Portfolio</font></b>

<% } %>

&nbsp;&nbsp;&nbsp;FOLLOW-BUTTON

<br><br>

<!-- profit percent gain - start -->

<% if ( user.escape("profit") < 0 ) {   %>

<font color="red" size="4">

<% } else { %>

<font color="green" size="4">

<% } %>

<% if ( user.escape("profit") > 0 ) {   %>

▲

<% } %>

<% if ( user.escape("profit") < 0 ) {   %>

▼

<% } %>

&#36;<%= Math.abs(user.escape("profit")) %>
(<%= Math.abs(user.escape("percent_gain")) %>&#37;)
</font>

<!-- profit percent gain - end -->

<br><br>

<!-- Portfolio - start -->
<% company_ids = user.escape("portfolio_keys").split(',') %>
<% positions = user.escape("portfolio_values").split(','); %>

<table>
  <th>Name</th>
  <th>Symbol</th>
  <th>Price</th>
  <th>Change</th>
  <th>Position</th>
  <% for (var i=0; i<=company_ids.length; i++) { %>
   <tr>
    <% var company = companies.get(company_ids[i]) %>
    <% if (company) { %>
    <td><%= company.escape("name") %></td>
    <td><%= company.escape("symbol") %></td>
    <td><%= company.escape("price") %></td>
    <td><%= company.escape("change") %></td>
    <td><%= positions[i] %></td>
    <% } %>
   </tr>
  <% } %>


</table>


<!-- Portfolio - end -->





