
<% if ( user.escape("id") == window.currentUser.id ) {   %>

<b><font size="6">My Portfolio</font></b>

<% } else { %>

<b><font size="6"><%= user.escape("name") %>'s Portfolio</font></b>

<% } %>

&nbsp;&nbsp;&nbsp;FOLLOW-BUTTON

<br><br>

<!-- profit percent gain - start -->

<% if ( user.escape("profit") < 0 ) {   %>

<font color="red" size="4">

<% } else { %>

<font color="green" size="4">

<% } %>

<% if ( user.escape("profit") > 0 ) {   %>

▲

<% } %>

<% if ( user.escape("profit") < 0 ) {   %>

▼

<% } %>

&#36;<%= Math.abs(user.escape("profit")) %>
(<%= Math.abs(user.escape("percent_gain")) %>&#37;)
</font>

<!-- profit percent gain - end -->






<br><br><br><br>

<h1>User Show Page</h1>
<%= user.escape("name") %>

<br><br><br>

<%= user.escape("id") %>

<br><br><br>

<%= window.currentUser.id %>

<%= user.escape("id") == window.currentUser.id %>

<% if ( user.escape("id") == window.currentUser.id ) {   %>

YOU ARE THIS USER

<% } %>


