
<% if ( user.escape("id") == window.currentUser.id ) {   %>

<b><font size="6">My Portfolio</font></b>

<% } else { %>

<b><font size="6"><%= user.escape("name") %>'s Portfolio</font></b>

<% } %>

&nbsp;&nbsp;&nbsp;

<!-- follow or unfollow - start -->
<% var follower_ids = user.escape("follower_ids").split(',') %>
<% currentuser_id = "" + window.currentUser.id + "" %>


<% if ( user.escape("id") != window.currentUser.id ) {   %>

  <% if (follower_ids.indexOf(currentuser_id) > -1 ) { %>
    <% var message = "Unfollow" %>
  <% } else { %>
    <% var message = "Follow" %>
  <% } %>
  <form>
    <input
      id="follow_follower_id"
      name="follow[follower_id]"
      type="hidden"
      value="<%= window.currentUser.id %>">

    <input
      id="follow_leader_id"
      name="follow[leader_id]"
      type="hidden"
      value="<%= user.escape("id") %>">
    <input type="submit" value="<%= message %>">
  </form>

<% } %>



<!-- follow or unfollow - end -->

<br><br>

<!-- profit percent gain - start -->

<% if ( user.escape("profit") < 0 ) {   %>

<font color="red" size="4">

<% } else { %>

<font color="green" size="4">

<% } %>

<% if ( user.escape("profit") > 0 ) {   %>

▲

<% } %>

<% if ( user.escape("profit") < 0 ) {   %>

▼

<% } %>

&#36;<%= Math.abs(user.escape("profit")) %>
(<%= Math.abs(user.escape("percent_gain")) %>&#37;)
</font>

<!-- profit percent gain - end -->

<br><br>

<!-- Portfolio - start -->

<% var flag = user.escape("id") == window.currentUser.id %>

<% var company_ids = user.escape("portfolio_keys").split(',') %>
<% var positions = user.escape("portfolio_values").split(','); %>
<% var notification_values = user.escape("notification_values").split(','); %>

<table>
  <th>Name</th>
  <th>Symbol</th>
  <th>Price</th>
  <th>Change</th>
  <th>Position</th>

  <% if (flag) { %> 
    <th>Notification</th>
  <% } %>

  <% for (var i=0; i<=company_ids.length; i++) { %>
   <tr>
    <% var company = companies.get(company_ids[i]) %>
    <% if (company) { %>
    <td><%= company.escape("name") %></td>
    <td><%= company.escape("symbol") %></td>
    <td><%= company.escape("price") %></td>
    <td><%= company.escape("change") %></td>
    <td><%= positions[i] %></td>

    <% if (flag) { %> 
      <td>
        <form class="form-notification">
          <input
            id="notification_user_id"
            name="notification[user_id]"
            type="hidden"
            value="<%= window.currentUser.id %>" >

          <input
            id="notification-company_id"
            name="notification[company_id]"
            type="hidden"
            value="<%= company_ids[i] %>">

          <input
            id="notification-percent_swing"
            name="notification[percent_swing]"
            type="text"
            value="<%= notification_values[i] %>">

          <input type="submit" value="Set">
        </form>
      </td>
    <% } %>

    <% } %>
   </tr>
  <% } %>


</table>


<!-- Portfolio - end -->

<br>

<!-- Transactions - start -->
<h2>Transactions</h2><br>

<% var trades_company_id = user.escape("trades_company_id").split(',') %>
<% var trades_num_shares = user.escape("trades_num_shares").split(','); %>
<% var trades_price = user.escape("trades_price").split(','); %>

<table>
  <th>Company</th>
  <th>Number of Shares</th>
  <th>Price</th>


  <% for (var i=0; i<=trades_company_id.length; i++) { %>
   <tr>
    <% var company = companies.get(trades_company_id[i]) %>
    <% if (company) { %>
    <td><%= company.escape("symbol") %></td>
    <% } %>
    <td><%= trades_num_shares[i] %></td>
    <td><%= trades_price[i] %></td>
   </tr>
  <% } %>

</table>

<% if ( user.escape("id") == window.currentUser.id ) {   %>

<form class="form-trade">
  <input
    id="trade_user_id"
    name="trade[user_id]"
    type="hidden"
    value="<%= window.currentUser.id %>" >

  <label for="trade_symbol">symbol:</label>
  <input
     id="trade_symbol"
     name="trade[symbol]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <label for="trade_num_shares">&#35; of shares:</label>
  <input
     id="trade_num_shares"
     name="trade[num_shares]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <input type="submit" value="Trade">
</form>

<% } %>

<!-- Transactions - end -->

<br><br>

<!-- Performance graph - start -->
<h2> Performance </h2>

<% var profit_graph_data_x_axis = user.escape("profit_graph_data_x_axis").split(',') %>
<% var x = new Date(profit_graph_data_x_axis[0]) %>

<br>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">

$(function () {
    $('#container').highcharts({
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        legend: {
            enabled: false
        },

        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 0
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Price',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(<%= x.getFullYear() %>, <%= x.getMonth() %>, <%= x.getDate() %>, 9,30),
            data: [<%= user.escape("profit_graph_data_y_axis") %>]

        }]
    });
});

</script>



<!-- Performance graph - end -->

















