
<% if ( user.escape("id") == window.currentUser.id ) {   %>

<b><font size="6">My Portfolio</font></b>

<% } else { %>

<b><font size="6"><%= user.escape("name") %>'s Portfolio</font></b>

<% } %>

&nbsp;&nbsp;&nbsp;FOLLOW-BUTTON

<br><br>

<!-- profit percent gain - start -->

<% if ( user.escape("profit") < 0 ) {   %>

<font color="red" size="4">

<% } else { %>

<font color="green" size="4">

<% } %>

<% if ( user.escape("profit") > 0 ) {   %>

▲

<% } %>

<% if ( user.escape("profit") < 0 ) {   %>

▼

<% } %>

&#36;<%= Math.abs(user.escape("profit")) %>
(<%= Math.abs(user.escape("percent_gain")) %>&#37;)
</font>

<!-- profit percent gain - end -->

<br><br>

<!-- Portfolio - start -->
<% var company_ids = user.escape("portfolio_keys").split(',') %>
<% var positions = user.escape("portfolio_values").split(','); %>

<table>
  <th>Name</th>
  <th>Symbol</th>
  <th>Price</th>
  <th>Change</th>
  <th>Position</th>
  <% for (var i=0; i<=company_ids.length; i++) { %>
   <tr>
    <% var company = companies.get(company_ids[i]) %>
    <% if (company) { %>
    <td><%= company.escape("name") %></td>
    <td><%= company.escape("symbol") %></td>
    <td><%= company.escape("price") %></td>
    <td><%= company.escape("change") %></td>
    <td><%= positions[i] %></td>
    <% } %>
   </tr>
  <% } %>


</table>


<!-- Portfolio - end -->

<br>

<!-- Transactions - start -->
<h2>Transactions</h2><br>





<% var trades_company_id = user.escape("trades_company_id").split(',') %>
<% var trades_num_shares = user.escape("trades_num_shares").split(','); %>
<% var trades_price = user.escape("trades_price").split(','); %>


<table>
  <th>Company</th>
  <th>Number of Shares</th>
  <th>Price</th>


  <% for (var i=0; i<=trades_company_id.length; i++) { %>
   <tr>
    <% var company = companies.get(trades_company_id[i]) %>
    <% if (company) { %>
    <td><%= company.escape("symbol") %></td>
    <% } %>
    <td><%= trades_num_shares[i] %></td>
    <td><%= trades_price[i] %></td>
   </tr>
  <% } %>

</table>


<% if ( user.escape("id") == window.currentUser.id ) {   %>

<form>
  <input
    id="trade_user_id"
    name="trade[user_id]"
    type="hidden"
    value="<%= window.currentUser.id %>" >

  <label for="trade_symbol">symbol:</label>
  <input
     id="trade_symbol"
     name="trade[symbol]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <label for="trade_num_shares">&#35; of shares:</label>
  <input
     id="trade_num_shares"
     name="trade[num_shares]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <input type="submit" value="Trade">
</form>

<% } %>



<!-- Transactions - end -->
