
<h2>
  <%= (signed_in? && current_user.id == @user.id) ? "My" : (@user.name + "'s") %> 
  Portfolio
</h2>&nbsp;&nbsp;&nbsp;

<!-- follow or unfollow - start -->
<% if signed_in? && current_user.id != @user.id %>

  <% if current_user.follows?(@user) %>
    <% follow = Follow.where(follower_id: current_user.id, leader_id: @user.id)[0] %>
  <% end %>

  <% action = (current_user.follows?(@user) ? user_follow_url(current_user.id, follow.id) : user_follows_url(current_user)) %>
  <% method = (current_user.follows?(@user) ? "delete" : "post") %>
  <% message = (current_user.follows?(@user) ? "Unfollow" : "Follow") %>

  <form action="<%= action %>" method="post">
    <input
      name="_method"
      type="hidden"
      value="<%= method %>">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">
    <input
      id="follow_leader_id"
      name="follow[leader_id]"
      type="hidden"
      value="<%= @user.id %>">
    <input type="submit" value="<%= message %>" class="btn btn-default">
  </form>
<% end %>
<!-- follow or unfollow - end -->

<br><br>

<!-- profit percent gain - start -->
<font color="<%= (@user.profit < 0) ? "red" : "green" %>" size="4">
  <%= "▲" if @user.profit > 0 %>
  <%= "▼" if @user.profit < 0 %>
  &#36;<%= @user.profit.abs %>
  (<%= @user.percent_gain.abs %>&#37;)
</font>
<!-- profit percent gain - end -->

<br><br>

<!-- Portfolio - start -->
<% flag = signed_in? && current_user.id == @user.id %>
<table class="table table-striped table-bordered table-condensed">
  <th>Name</th>
  <th>Symbol</th>
  <th>Price</th>
  <th>Change</th>
  <th>Position</th>
  <% if flag %> 
    <th>Notification</th>
  <% end %>
  <% @user.portfolio.keys.each do |company_id| %>
    <tr>

      <% company = Company.find(company_id) %>
      <% quote = company.quotes.last %>

      <td><%= company.name %></td>

      <td><%= company.symbol %></td>

      <td><%= quote.price %></td>
      
      <td>
      <font color="<%= (quote.change < 0) ? "red" : "green" %>">
        <%= "+" if (quote.change > 0) %><%= quote.change %> (<%= quote.percent_change %>&#37;)
      </font>
      </td>

      <td><%= @user.portfolio[company_id] %></td>

      <% if flag %> 
        <td>
          <form action="<%= user_notifications_url(@user) %>" method="post">

            <input
              name="authenticity_token"
              type="hidden"
              value="<%= form_authenticity_token %>">

            <input
              id="notification-company_id"
              name="notification[company_id]"
              type="hidden"
              value="<%= company_id %>">

            <input
              id="notification-percent_swing"
              name="notification[percent_swing]"
              type="text"
              value="<%= @user.notification_value(company_id) %>">

            <input type="submit" value="Set">
            
          </form>
        </td>
      <% end %>

    </tr>
  <% end %>
</table>
<!-- Portfolio - end -->

<br>

<!-- Transactions - start -->
<h2>Transactions</h2><br><br>

<table class="table table-striped table-bordered table-condensed">
  <th>Company</th>
  <th>Number of Shares</th>
  <th>Price</th>
  <% @user.trades.each do |trade| %>
    <tr>
      <td><%= Company.find(trade.company_id).symbol %></td>
      <td><%= trade.num_shares %></td>
      <td><%= trade.price %></td>
    </tr>
  <% end %>
</table>

<% if signed_in? && current_user.id == @user.id %>
<form action="<%= user_trades_url(@user) %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="trade_symbol">symbol:</label>
  <input
     id="trade_symbol"
     name="trade[symbol]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <label for="trade_num_shares">&#35; of shares:</label>
  <input
     id="trade_num_shares"
     name="trade[num_shares]"
     type="text">
  &nbsp;&nbsp;&nbsp;
  <input type="submit" value="Trade" class="btn btn-default">
</form>
<% end %>

<!-- Transactions - end -->

<br><br><br>

<!-- Performance graph - start -->
<h2> Performance </h2>
<% data = @user.profit_graph_data_hash %>
<%= line_chart(data, min: data.values.min, max: data.values.max, height: "400px") %>
<!-- Performance graph - end -->








