<h1><%= @user.name %></h1>

<h1><%= @user.email %></h1>

<% if signed_in? && current_user.id != @user.id %>

  <% if current_user.follows?(@user) %>
    <% follow = Follow.where(follower_id: current_user.id, leader_id: @user.id)[0] %>
  <% end %>

  <% action = (current_user.follows?(@user) ? user_follow_url(current_user.id, follow.id) : user_follows_url(current_user)) %>
  <% method = (current_user.follows?(@user) ? "delete" : "post") %>
  <% message = (current_user.follows?(@user) ? "Unfollow" : "Follow") %>

  <form action="<%= action %>" method="post">
    <input
      name="_method"
      type="hidden"
      value="<%= method %>">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">
    <input
      id="follow_leader_id"
      name="follow[leader_id]"
      type="hidden"
      value="<%= @user.id %>">
    <input type="submit" value="<%= message %>">
  </form>
<% end %>




<% if signed_in? && current_user.id == @user.id %>

<h2>Make a trade</h2>

<form action="<%= user_trades_url(@user) %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="trade_symbol">Stock symbol</label>
  <input
     id="trade_symbol"
     name="trade[symbol]"
     type="text">
  <br>

  <label for="trade_num_shares">Number of Shares (negative to short)</label>
  <input
     id="trade_num_shares"
     name="trade[num_shares]"
     type="text">
  <br>

  <input type="submit" value="Place trade">

</form>

<% end %>

<h2> Trade history </h2>
<table>
  <th>Company</th>
  <th>Number of Shares</th>
  <th>Price</th>
  <% @user.trades.each do |trade| %>
    <tr>
      <td><%= Company.find(trade.company_id).symbol %></td>
      <td><%= trade.num_shares %></td>
      <td><%= trade.price %></td>
    </tr>
  <% end %>
</table>


<h2> Portfolio </h2>
<% flag = signed_in? && current_user.id == @user.id %>
<table>
  <th>Company</th>
  <th>Number of Shares</th>
  <th>Current price</th>
  <% if flag %> 
    <th>Notification</th>
  <% end %>
  <% @user.portfolio.keys.each do |company_id| %>
    <tr>
      <td><%= Company.find(company_id).symbol %></td>
      <td><%= @user.portfolio[company_id] %></td>
      <td><%= Company.find(company_id).quotes.last.price %></td>
      <td>
        <% if flag %> 
          <form action="<%= user_notifications_url(@user) %>" method="post">

            <input
              name="authenticity_token"
              type="hidden"
              value="<%= form_authenticity_token %>">

            <input
              id="notification-company_id"
              name="notification[company_id]"
              type="hidden"
              value="<%= company_id %>">

            <input
              id="notification-percent_swing"
              name="notification[percent_swing]"
              type="text"
              value="<%= @user.notification_value(company_id) %>">

            <input type="submit" value="Set">
            
          </form>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<h2> Profit </h2>

&#36; <%= @user.profit %>

<h2> Percent gain </h2>

<%= @user.percent_gain %> &#37;

<h2> Profit graph </h2>

<% data = @user.profit_graph_data_hash %>
<%= line_chart(data, min: data.values.min, max: data.values.max, height: "400px") %>



<%# go through the quotes for each stock owned %>

<%# just do each day from first transaction, %>








