<h1><%= @company.name %></h1>

<h1><%= @company.symbol %></h1>

<% quote = @company.quotes.last %>

price = <%= quote.price %>

<br>

change = <%= quote.change %>

<br>

percent change = <%= quote.percent_change %>
<br>

<!-- move calc to company model -->
<% data = {} %>
<% counter = 0 %>
<% @company.quotes.each do |quote| %>
  <% data[quote.created_at.time] = quote.price %>
  <% counter += 1 %>
<% end %>

  <!-- Line Chart - Single Series -->
  <!-- move chart generation entirely to company model -->
    <h3>Price movement</h3>
    <%= line_chart(data, min: data.values.min, max: data.values.max, height: "400px") %>

 

