<font color="grey" size="6"><%= @company.name %></font>

<br>

<font color="grey" size="4"><%= @company.symbol %></font>

<br>

<% quote = @company.quotes.last %>

<h2><%= quote.price %></h2>&nbsp;&nbsp;&nbsp;

<font color="<%= (quote.change < 0) ? "red" : "green" %>" size="4">
  <%= "▲" if quote.change > 0 %>
  <%= "▼" if quote.change < 0 %>
  <%= quote.change.abs %>
  (<%= quote.percent_change.abs %>&#37;)
</font>


<% data = @company.price_graph_data_hash %>
<% diff = (data.values.max - data.values.min) / 10.0 %>
<%= line_chart(data, min: data.values.min - diff, max: data.values.max + diff, height: "400px") %>

 

