<h1><%= @company.name %></h1>

<h1><%= @company.symbol %></h1>

<% quote = @company.quotes.last %>

price = <%= quote.price %>

<br>

change = <%= quote.change %>

<br>

percent change = <%= quote.percent_change %>

<br>

<h3>Price movement</h3>

<% data = @company.price_graph_data_hash %>
<%= line_chart(data, min: data.values.min, max: data.values.max, height: "400px") %>

 

