<h1><%= @company.name %></h1>

<h1><%= @company.symbol %></h1>

<% quote = @company.quotes.last %>

price = <%= quote.price %>

<br>

change = <%= quote.change %>

<br>

percent change = <%= quote.percent_change %>

<h2> quote price data </h2>

<% data = [] %>
<% @company.quotes.each {|quote| data.push(quote.price)} %>
<%= data %>

