



    <!-- Home menu - start -->
    <br>
    <a href="#">Home</a> <br>
    <a href="#users/<%= window.currentUser.id %>">My Portfolio</a> <br>
    <a href="#users">Leaderboard</a>

    <!-- Home menu - end -->


<hr>


<!-- Recent quotes - start -->

Recent Quotes<br><br>

<% myid = window.currentUser.id %>
<!-- will need to reverse array -->
<% recent_quotes = recent_quotes.toJSON().reverse() %>

<table>

<% if (FinanceClone.Collections.companies.length > 0) { %>
<% if (recent_quotes.length > 0) { %>
  <% var counter = 0 %>
  <% for (var i=0; i<recent_quotes.length; i++) { %>
    <% if (recent_quotes[i].user_id == myid) { %>
       <% var company_id = Number(recent_quotes[i].company_id) %>
       <% var company = FinanceClone.Collections.companies.where({ id: company_id }) %>
       <% company = company[0] %>


      <tr>
        <td>
          <!-- Get a quote - start -->   
          <form  class="quote-form">
            <input
              id="recent_quote_user_id"
              name="recent_quote[user_id]"
              type="hidden"
              value="<%= window.currentUser.id %>">
            <input
              id="recent_quote_symbol"
              name="recent_quote[symbol]"
              type="hidden"
              value="<%= company.escape("symbol") %>">

            <input type="submit" value="<%= company.escape("symbol") %>">
          </form>
          <!-- Get a quote - end -->
        </td>
        <td><%= company.escape("price") %></td>
        <td>
          <% if (Number(company.escape("change")) < 0) { %>
            <font color="red"><%= company.escape("change") %></font>
          <% } else { %>
            <font color="green">+<%= company.escape("change") %></font>
          <% } %>
        </td>
      </tr>
      <% counter += 1 %>
      <% if (counter == 10) { break } %>
    <% } %>
  <% } %>


<% } %>
<% } %>
</table>

<!-- Recent quotes - end -->













