<!DOCTYPE html>
<html>
  <head>
    <title>Finance Clone</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
    
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <!-- Errors - start -->
    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <br>
    <% end %>
    <!-- Errors - end -->

    <h1>Finance Clone</h1>

    <!-- Get a quote - start -->
    <% action = (signed_in? ? user_recent_quotes_url(current_user) : recent_quotes_url) %>    
    <form action="<%= action  %>" method="post">
      <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

      <input
        id="recent_quote_symbol"
        name="recent_quote[symbol]"
        type="text"
        placeholder="enter stock ticker">

      <input type="submit" value="Search">
    </form>
    <!-- Get a quote - end -->

    <br>

    <!-- Alerts - start -->
    <% if signed_in? %>
      <%= link_to "Alerts", user_notification_messages_url(current_user) %>
    <% else %>
      <%= link_to "Alerts", new_session_url %>
    <% end %>
    <!-- Alerts - end -->

    <br>

    <!-- Edit Account - start -->
    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= current_user.email %></li>
      <li><%= link_to "Edit Account", edit_user_url(current_user) %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
    <% end %>
    <!-- Edit Account - end -->

    <hr>

    <!-- Recent quotes - start -->
    <% if signed_in? %>
      Recent Quotes<br><br>

      <table class="table table-condensed">
        <% counter = 0 %>
        <% current_user.recent_quotes.reverse.each do |quote| %>
          <tr>
            <td>
              <% company = Company.find(quote.company_id)%>

              <form action="<%= user_recent_quotes_url(current_user)  %>" method="post">
                <input
                  name="authenticity_token"
                  type="hidden"
                  value="<%= form_authenticity_token %>">

                <input
                  id="recent_quote_symbol"
                  name="recent_quote[symbol]"
                  type="hidden"
                  value="<%= company.symbol %>">

                <input type="submit" value="<%= company.symbol %>" class="btn-link">
              </form>

            </td>
            <% quote = company.quotes.last %>
            <td><%= quote.price %></td>
            <td>
              <font color="<%= (quote.change < 0) ? "red" : "green" %>">
              <%= "+" if quote.change > 0 %><%= quote.change %>
            </font>
            </td>
          </tr>
          <% counter += 1 %>
          <% break if counter == 10 %>
        <% end %>
      </table>

    <% end %>
    <!-- Recent quotes - end -->

    <br>




    <%= yield %>

  </body>
</html>
