<!DOCTYPE html>
<html>
  <head>
    <title>Finance Clone</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'custom.css' %>
    
    <%= csrf_meta_tags %>
    
  </head>

<header>
  <nav class="group">
    <a href="#" class="logo">App Academy Students</a>

    <ul>
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a href="#">Notifications</a>

        <ul class="menu">
          <li>Someone liked your picture.</li>
          <li>You have a new friend request.</li>
          <li>Welcome to App Academy.</li>
        </ul>

      </li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>
</header>

  <body>
    <!-- Errors - start -->
    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <br>
    <% end %>
    <!-- Errors - end -->


<ul class="list-inline">
  <li>
    <h1>Finance Clone</h1>
  </li>

  <li>
    <!-- Get a quote - start -->
    <% action = (signed_in? ? user_recent_quotes_url(current_user) : recent_quotes_url) %>    
    <form action="<%= action  %>" method="post">
      <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

      <input
        id="recent_quote_symbol"
        name="recent_quote[symbol]"
        type="text"
        placeholder="enter stock ticker">

      <input type="submit" value="Search" class="btn btn-default">
    </form>
    <!-- Get a quote - end -->
  </li>

  <li>
    <!-- Alerts - start -->
    <% if signed_in? %>
      <%= link_to "Alerts", user_notification_messages_url(current_user) %>
    <% else %>
      <%= link_to "Alerts", new_session_url %>
    <% end %>
    <!-- Alerts - end -->
  </li>

  <li>
    <!-- Edit Account - start -->
    <% if signed_in? %>
    Signed in as: <%= current_user.email %><br><br>
    <ul class="list-inline">
      <li><%= link_to "Edit Account", edit_user_url(current_user), class: "btn btn-default" %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete, class: "btn btn-default" %></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url, class: "btn btn-default" %> 
      <%= link_to "Sign up", new_user_url, class: "btn btn-default" %>
    </p>
    <% end %>
    <!-- Edit Account - end -->
  </li>
</ul>

<hr>

<div class="row">

  <div class="col-xs-3 col-sidebar">
    <!-- Home menu - start -->

    <a href="/static_pages/home" class="">Home</a> <br>
    <% if signed_in? %>
    <a href="<%= user_url(current_user) %>">My Portfolio</a> <br>
    <% end %>
    <a href="<%= users_url %>">Leaderboard</a>

    <!-- Home menu - end -->
    <hr>



    <!-- Recent quotes - start -->
    <% if signed_in? %>
      Recent Quotes<br><br>

      <table class="table table-condensed">
        <% counter = 0 %>
        <% current_user.recent_quotes.reverse.each do |quote| %>
          <tr>
            <td>
              <% company = Company.find(quote.company_id)%>

              <form action="<%= user_recent_quotes_url(current_user)  %>" method="post">
                <input
                  name="authenticity_token"
                  type="hidden"
                  value="<%= form_authenticity_token %>">

                <input
                  id="recent_quote_symbol"
                  name="recent_quote[symbol]"
                  type="hidden"
                  value="<%= company.symbol %>">

                <input type="submit" value="<%= company.symbol %>" class="btn-link">
              </form>

            </td>
            <% quote = company.quotes.last %>
            <td><%= quote.price %></td>
            <td>
              <font color="<%= (quote.change < 0) ? "red" : "green" %>">
              <%= "+" if quote.change > 0 %><%= quote.change %>
            </font>
            </td>
          </tr>
          <% counter += 1 %>
          <% break if counter == 10 %>
        <% end %>
      </table>

    <% end %>
    <!-- Recent quotes - end -->
  </div>

  <div class="col-xs-9 col-mainbar">
    <%= yield %>
  </div>

</div>

  </body>
</html>
