<!DOCTYPE html>
<html>
  <head>
    <title>Finance Clone</title>
  </head>
  <body>

    <h1> Get a quote </h1>
    <% action = (signed_in? ? user_recent_quotes_url(current_user) : recent_quotes_url) %>    
    <form action="<%= action  %>" method="post">
      <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

      <label for="recent_quote_symbol">Stock symbol</label>
      <input
        id="recent_quote_symbol"
        name="recent_quote[symbol]"
        type="text">

      <input type="submit" value="Search">
    </form>
    <% if signed_in? %>
      <h2>Recent quotes</h2>

      <table>
        <th>Symbol</th>
        <th>Price</th>
        <% counter = 0 %>
        <% current_user.recent_quotes.reverse.each do |quote| %>
          <tr>
            <td>
              <% company = Company.find(quote.company_id)%>

              <form action="<%= user_recent_quotes_url(current_user)  %>" method="post">
                <input
                  name="authenticity_token"
                  type="hidden"
                  value="<%= form_authenticity_token %>">

                <input
                  id="recent_quote_symbol"
                  name="recent_quote[symbol]"
                  type="hidden"
                  value="<%= company.symbol %>">

                <input type="submit" value="<%= company.symbol %>">
              </form>

            </td>
            <td>&#36;<%= company.quotes.last.price %></td>
          </tr>
          <% counter += 1 %>
          <% break if counter == 10 %>
        <% end %>
      </table>

    <% end %>

    <br>

    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= current_user.email %></li>
      <li><%= link_to "Edit Account", edit_user_url(current_user) %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
    </ul>
    <% else %>
    <p>
      <%= link_to "Sign In", new_session_url %> or
      <%= link_to "Sign up", new_user_url %>
    </p>
    <% end %>

    <hr>

    <% if flash[:errors] %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>

    <%= yield %>

  </body>
</html>
